body {
  background-color: #f9f9f9;
  font-family: 'Segoe UI', sans-serif;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  padding: 20px;
}

.bot-army {
  margin-bottom: 30px;
}


.card:hover {
  transform: scale(1.05);
}


.card {
  padding: 2em;
  cursor: pointer;
  transition: transform 0.2s ease;
}